<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @daily_usage.price %>
</p>

<%= link_to 'Edit', edit_daily_usage_path(@daily_usage) %> |
<%= link_to 'Back', daily_usages_path %>
