<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
  </tr>
  <tr>
    <td><%= @usage_charge.description %></td>
    <td><%= @usage_charge.price %></td>     
  </tr>
</table>
