<table style="width:100%">
  <tr>
    <th>Description</th>
    <th>Price</th>
  </tr>
  <tr>
    <td><%= @usage_charge.description if @usage_charge %></td>
    <td><%= @usage_charge.price if @usage_charge %></td>
  </tr>
</table>
