<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

<div class="container-fluid custom-container">
  <div class="row">
    <div class="logo-containter">
      <%= image_tag "Simpl_Verify.png", alt: 'Logo' %>
    </div>

    <div class="col-md-6">        
        <%= render 'settings/form', setting: @setting %>
    </div>

    <div class="col-md-6" id="preview">
        <%= render 'settings/preview' %>
    </div>

  </div>
</div>