<p id="notice"><%= notice %></p>

<h1>Histories</h1>

<table>
  <thead>
    <tr>
      <th>No. </th>
      <th>Date</th>
      <th>Shipping address</th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history, index| %>
      <tr>
        <th><%= index %></th>
        <th><%= history.created_at.to_date %></th>
        <td><%= history.shipping_address %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
