<div class="logo-containter">
<%= image_tag "Simpl_Verify.png", alt: 'Logo' %>
</div>

<% if !flash[:notice].nil? %>
    <div style="color: #3c763d; padding: 10px">
        <%= notice %>
    </div>
<% end %>

<%= render 'form', setting: @setting %>