<h1>Settings</h1>
<p id="notice"><%= notice %></p>
<div id="settings-container">
    <div class="panel">
        <%= render 'form', setting: @setting %>
    </div>

    <div class="panel" id="preview">
        <%= render 'preview' %>
    </div>
</div>