<h2>Settings</h2>
<div class="col-md-6">        

    <% if !flash[:notice].nil? %>
        <div class="alert alert-success alert-custom">
            <%= notice %>
        </div>
    <% end %>

    <%= render 'form', setting: @setting %>
</div>

<div class="col-md-6" id="preview">
    <%= render 'preview' %>
</div>