<div id="settings-container">
    <div class="col-md-6">
        <h2>Settings</h2>

        <p id="notice"><%= notice %></p>

        <%= render 'form', setting: @setting %>
    </div>

    <div class="col-md-6" id="preview">
        <%= render 'preview' %>
    </div>
</div>
