// Place all the styles related to the Settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.custom-container {
    margin: 30px
}

.alert-custom {
    padding: 10px;
}

#preview .validatorBox {
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.margin-20px {
    margin-left: 20px;
}

.jscolor {
    width: 100px !important;
}

.custom_checkbox {
    width: 18px;
    height: 18px;
}

.custom_label {
    position: absolute;
    padding: 4px;
}

.form-group.custom {
    position: relative;
}