// Place all the styles related to the Settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.custom-container {
    margin: 30px
}

.alert-custom {
    padding: 10px;
}

#settings-container .validatorBox {
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}


/*.custom_message_editbox {
  width: 35rem;
}

#settings-container {
    display: flex;
}
.panel {
    flex: 1;
}

.field > label {
    font-weight: normal;
}*/